
@{
    ViewBag.Title = "Edit";
}
<style>
    body {
        background-color: cornsilk;
    }
</style>
<div class="row">
    <div class="col">
        <div id="form-div">
            @Html.Action("EditForm")
        </div>
    </div>
</div>

