USE [master]
GO
/****** Object:  Database [FashionFiestaDB]    Script Date: 04/02/2024 04:28:12 ******/
CREATE DATABASE [FashionFiestaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FashionFiestaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FashionFiestaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FashionFiestaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FashionFiestaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FashionFiestaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FashionFiestaDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04/02/2024 04:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 04/02/2024 04:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Brands] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DressCategories]    Script Date: 04/02/2024 04:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DressCategories](
	[DressCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.DressCategories] PRIMARY KEY CLUSTERED 
(
	[DressCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dresses]    Script Date: 04/02/2024 04:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dresses](
	[DressID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[LaunchDate] [date] NOT NULL,
	[SaleStatus] [bit] NOT NULL,
	[Picture] [nvarchar](max) NULL,
	[DressCategoryID] [int] NOT NULL,
	[BrandID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Dresses] PRIMARY KEY CLUSTERED 
(
	[DressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stocks]    Script Date: 04/02/2024 04:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stocks](
	[StockID] [int] IDENTITY(1,1) NOT NULL,
	[Size] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[DressID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Stocks] PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandID], [BrandName]) VALUES (1, N'Aarong')
INSERT [dbo].[Brands] ([BrandID], [BrandName]) VALUES (2, N'Key-Kraft')
INSERT [dbo].[Brands] ([BrandID], [BrandName]) VALUES (3, N'Sailor')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[DressCategories] ON 

INSERT [dbo].[DressCategories] ([DressCategoryID], [CategoryName]) VALUES (1, N'Shalwar-Kamiz')
INSERT [dbo].[DressCategories] ([DressCategoryID], [CategoryName]) VALUES (2, N'Kurta')
INSERT [dbo].[DressCategories] ([DressCategoryID], [CategoryName]) VALUES (3, N'Tops')
SET IDENTITY_INSERT [dbo].[DressCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Dresses] ON 

INSERT [dbo].[Dresses] ([DressID], [Name], [LaunchDate], [SaleStatus], [Picture], [DressCategoryID], [BrandID]) VALUES (1, N'Pink Kamiz Set', CAST(N'2023-11-11' AS Date), 1, N'1.png', 1, 1)
INSERT [dbo].[Dresses] ([DressID], [Name], [LaunchDate], [SaleStatus], [Picture], [DressCategoryID], [BrandID]) VALUES (2, N'Pink Kamiz', CAST(N'2023-11-11' AS Date), 1, N'3ryewh2t.jpg', 1, 1)
INSERT [dbo].[Dresses] ([DressID], [Name], [LaunchDate], [SaleStatus], [Picture], [DressCategoryID], [BrandID]) VALUES (3, N'Green Salwar Kamiz', CAST(N'2024-02-01' AS Date), 1, N'hkqyq35n.jpg', 1, 2)
SET IDENTITY_INSERT [dbo].[Dresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Stocks] ON 

INSERT [dbo].[Stocks] ([StockID], [Size], [Price], [Quantity], [DressID]) VALUES (1, 38, CAST(2500.00 AS Decimal(18, 2)), 10, 1)
INSERT [dbo].[Stocks] ([StockID], [Size], [Price], [Quantity], [DressID]) VALUES (2, 40, CAST(2550.00 AS Decimal(18, 2)), 10, 1)
INSERT [dbo].[Stocks] ([StockID], [Size], [Price], [Quantity], [DressID]) VALUES (3, 44, CAST(3000.00 AS Decimal(18, 2)), 10, 1)
SET IDENTITY_INSERT [dbo].[Stocks] OFF
GO
/****** Object:  Index [IX_BrandID]    Script Date: 04/02/2024 04:28:12 ******/
CREATE NONCLUSTERED INDEX [IX_BrandID] ON [dbo].[Dresses]
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DressCategoryID]    Script Date: 04/02/2024 04:28:12 ******/
CREATE NONCLUSTERED INDEX [IX_DressCategoryID] ON [dbo].[Dresses]
(
	[DressCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DressID]    Script Date: 04/02/2024 04:28:12 ******/
CREATE NONCLUSTERED INDEX [IX_DressID] ON [dbo].[Stocks]
(
	[DressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Dresses_dbo.Brands_BrandID] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([BrandID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dresses] CHECK CONSTRAINT [FK_dbo.Dresses_dbo.Brands_BrandID]
GO
ALTER TABLE [dbo].[Dresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Dresses_dbo.DressCategories_DressCategoryID] FOREIGN KEY([DressCategoryID])
REFERENCES [dbo].[DressCategories] ([DressCategoryID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dresses] CHECK CONSTRAINT [FK_dbo.Dresses_dbo.DressCategories_DressCategoryID]
GO
ALTER TABLE [dbo].[Stocks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stocks_dbo.Dresses_DressID] FOREIGN KEY([DressID])
REFERENCES [dbo].[Dresses] ([DressID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stocks] CHECK CONSTRAINT [FK_dbo.Stocks_dbo.Dresses_DressID]
GO
/****** Object:  StoredProcedure [dbo].[spDeleteStock]    Script Date: 04/02/2024 04:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spDeleteStock] @DressID int
as
begin
 delete from Stocks
 where DressID=@DressID
 return
end
GO
/****** Object:  StoredProcedure [dbo].[spInsertDress]    Script Date: 04/02/2024 04:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spInsertDress] @Name nvarchar(50),
						  @LaunchDate datetime,
						  @SaleStatus bit,
						  @Picture nvarchar(max),
						  @DressCategoryID int,
						  @BrandID int 
as
begin
  insert into Dresses(Name,LaunchDate,SaleStatus,Picture,DressCategoryID,BrandID)
  values(@Name,@LaunchDate,@SaleStatus,@Picture,@DressCategoryID,@BrandID)
  select SCOPE_IDENTITY() as DressID
  return
end
GO
/****** Object:  StoredProcedure [dbo].[spInsertStock]    Script Date: 04/02/2024 04:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spInsertStock] @Size int,
						  @Price decimal(18,0),
						  @Quantity int,
						  @DressID int
as
begin
  insert into Stocks(Size,Price,Quantity,DressID)
  values(@Size,@Price,@Quantity,@DressID)
  select SCOPE_IDENTITY() as StockID
  return
end
GO
USE [master]
GO
